[submodule "data/followers"]
	path = data/followers
	url = https://github.com/kevin-brown/sdgh-data-followers.git
[submodule "data/following"]
	path = data/following
	url = git@github.com:kevin-brown/sdgh-data-following.git
